@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
}

.bg-img {
	background-image: url("../images/Benar-Landing-Temp.jpg");
	background-color: rgba(0, 0, 0, 0.25);
	background-blend-mode: darken;
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	height: 6.5em;
	z-index: 1;
	display: block;
}

.header-nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 3em;
}

.socials a:first-child {
	margin-right: 1em;
}

.socials a:last-child {
	margin-left: 1em;
}

.socials svg {
	fill: white;
	fill-opacity: 0.6;
	cursor: pointer;
	transition-duration: 0.4s;
}

.socials svg:hover {
	fill-opacity: 0.9;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav ul {
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.nav li {
	padding: 1.5em;
}

.nav a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.nav-item {
	position: relative;
}

.nav-item::after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	transform: scale3d(0, 1, 1);
	transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
	transform-origin: 100% 50%;
}

.nav-item:hover::after {
	transform: scale3d(1, 1, 1);
	transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
	transform-origin: 0 50%;
}

.booking-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.booking-btn button {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.9);
	padding: 1em 1.5em;
	margin: 0 3em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: "Nunito Sans", sans-serif;
	transition-duration: 0.4s;
	cursor: pointer;
}

.booking-btn button:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
}

h1 {
	font-family: "Cardo", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 65px;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.9);
}

p {
	font-family: "Nunito Sans", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: -0.015em;
}

.caption {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	min-height: 80vh;
	text-align: center;
}

.border {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 4px solid white;
}

.tagline {
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.9);
}

.border a {
	color: rgba(255, 255, 255, 0.9);
}

.border a:hover {
	color: rgba(48, 139, 190, 1);
}

@media screen and (max-width: 1200px) {

	.caption {
		min-width: 60vw;
		max-width: 80vw;
	}

}

@media screen and (max-width: 768px) {

	h1 {
		font-size: 36px;
		line-height: 48px;
	}

	p {
		font-size: 18px;
		line-height: 24px;
	}

}

@media screen and (max-width: 500px) {

	h1 {
		font-size: 24px;
		line-height: 32px;
	}

	p {
		font-size: 14px;
		line-height: 20px;
	}

}