---
---

<div>
	<div class="relative mx-auto w-full">
		<img
			src="https://images.unsplash.com/photo-1650743323175-3fdbacc68370?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
			alt="Cottage"
			class="max-h-screen object-cover w-full aspect-[3/4] desktop:aspect-video"
		/>
		<div
			class="absolute top-0 left-0 h-full w-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-black/25 via-black/50 to-black/75"
		>
		</div>
		<h1
			class="absolute w-full px-6 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-center font-serif uppercase text-white text-hero-sm tablet:text-hero-md desktop:text-hero-lg xl:text-hero-xl"
		>
			Benar, <br /> Llanbedrog, Gwynedd
		</h1>
	</div>
</div>
