---
import Button from "./Button.astro";
---

<!-- Mobile & Tablet -->
<div class="relative laptop:hidden">
	<div class="bg-dark-blue">
		<div class="max-w-[1296px] w-[90%] mx-auto pt-16 tablet:pt-20">
			<h2 class="text-h2-sm tablet:text-h2-md text-white font-serif">
				Photo Gallery
			</h2>
			<div class="w-full pt-4 tablet:pt-6">
				<div class="w-full bg-slate-500 aspect-[3/4] max-h-[640px]"></div>
			</div>
			<div class="relative flex items-end justify-between pt-4">
				<p class="text-h3 font-serif leading-4 text-white -mb-[2px]">
					01 <span class="text-white/50">/ 20</span>
				</p>
				<div class="absolute right-0 top-0 pt-4 flex gap-4">
					<a href="#">
						<Button intent={"yellowBadge"}>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="square"
									stroke-linejoin="round"
									d="M15.75 19.5L8.25 12l7.5-7.5"></path>
							</svg>
						</Button>
					</a>
					<a href="#">
						<Button intent={"yellowBadge"}>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="square"
									stroke-linejoin="round"
									d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
							</svg>
						</Button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="max-w-[1296px] w-[90%] mx-auto pt-12 pb-16 tablet:pb-20">
			<p class="text-body text-dark-blue font-sans max-w-xl">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec augue nibh
				odio tincidunt. Blandit sagittis, purus sociis arcu. Sit vitae tristique
				est amet.
			</p>
		</div>
	</div>
</div>

<!-- Laptop+ -->
<div class="relative hidden laptop:block">
	<div class="bg-dark-blue absolute -z-10 h-2/3 w-full px-[5%] top-0 left-0">
		<p class="absolute -bottom-0.5 text-h3 font-serif leading-4 text-white">
			01 <span class="text-white/50">/ 20</span>
		</p>
	</div>
	<div class="flex max-w-[1296px] w-[90%] mx-auto gap-x-12 py-20 desktop:py-36">
		<div class="w-full">
			<div class="h-full flex flex-col justify-between">
				<h2
					class="text-white text-h2-md desktop:text-h2-lg xl:text-h2-xl font-serif"
				>
					Photo Gallery
				</h2>
				<p class="text-white text-body desktop:text-body-lg font-sans max-w-xl">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec augue
					nibh odio tincidunt. Blandit sagittis, purus sociis arcu. Sit vitae
					tristique est amet.
				</p>
				<div class="flex gap-4">
					<a href="#">
						<Button intent={"yellowBadge"}>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="square"
									stroke-linejoin="round"
									d="M15.75 19.5L8.25 12l7.5-7.5"></path>
							</svg>
						</Button>
					</a>
					<a href="#">
						<Button intent={"yellowBadge"}>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								class="w-6 h-6"
							>
								<path
									stroke-linecap="square"
									stroke-linejoin="round"
									d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
							</svg>
						</Button>
					</a>
				</div>
			</div>
		</div>

		<div class="w-full">
			<div class="ml-auto bg-slate-500 aspect-[3/4] max-h-[640px]"></div>
		</div>
	</div>
</div>
