---
---

<div class="bg-light-yellow">
	<div
		class="max-w-[1296px] w-[90%] mx-auto py-16 tablet:py-20 desktop:py-36 laptop:flex laptop:gap-x-12 desktop:gap-x-16"
	>
		<div class="w-full">
			<h2
				class="text-h2-sm tablet:text-h2-md desktop:text-h2-lg xl:text-h2-xl text-dark-blue font-serif"
			>
				The Property
			</h2>
			<p
				class="text-body desktop:text-body-lg text-dark-blue font-sans max-w-xl pt-4 pb-8 tablet:pt-6 desktop:pt-8"
			>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, fugiat
				harum mollitia accusamus laboriosam vero suscipit doloremque, dolores
				molestiae soluta laborum hic asperiores veniam ipsum ipsa explicabo
				incidunt? Hic totam odio voluptates accusamus exercitationem deleniti
				suscipit aspernatur illo cupiditate illum. Lorem ipsum dolor sit amet,
				consectetur adipisicing elit. Obcaecati nam, rerum voluptatem officia
				aliquid facilis?
			</p>
		</div>
		<div class="w-full my-auto">
			<div class="w-full">
				<img
					src="https://images.unsplash.com/photo-1510069551606-f9ec0a62fe28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80"
					alt="beach"
					class="object-cover w-4/5 aspect-video"
				/>
				<span class="text-caption-lg font-sans italic text-dark-blue"
					>Llanbedrog Beach</span
				>
			</div>
			<div class="flex justify-end w-full -mt-[15%]">
				<img
					src="https://images.unsplash.com/photo-1560427791-bcf0b027ff44?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
					alt="beach"
					class="object-cover w-4/6 aspect-video"
				/>
			</div>
		</div>
		<span class="absolute">
			<svg></svg>
		</span>
	</div>
</div>
